.container-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://media.istockphoto.com/id/1367756031/es/vector/ilustraci%C3%B3n-de-fondo-de-acuarela-azul.jpg?s=612x612&w=0&k=20&c=1zYbGJsjBY-zdGlFr7HPuA0_KBSuAKGuYF8SkeEXm0U=");
  border: 1px solid #ff8800;
  border-radius: 1cap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
  margin-bottom: 2rem;
  width: 20rem;
  max-width: 400px; /* Ancho máximo del contenedor de actividad */
  padding: 2.5rem;
}

.container-activity:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.texto {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(107, 102, 102);
}

.texto:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.texto-pais {
  margin-top: 1rem;
}
