.container {
  display: flex;
  justify-content: center;
  height: 27rem;
  align-items: center;
  flex-direction: column;
  background-image: url("https://media.istockphoto.com/id/1328989318/es/vector/hermoso-paisaje-fluvial.jpg?s=612x612&w=0&k=20&c=lg4XqOfft-slHZgFyRj67nwEjkifbReKL-6pJOgonLM=");
  border: 0.3rem solid rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  -moz-osx-font-smothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.texto {
  color: rgb(225, 87, 87);
  font-style: oblique;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container:hover {
  transform: scale(1.05);
}

.img {
  width: 13rem;
  height: 10rem;
}
