.div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 100%;
  overflow: auto;
  height: auto;
  /* width: 30rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://media.istockphoto.com/id/1367756031/es/vector/ilustraci%C3%B3n-de-fondo-de-acuarela-azul.jpg?s=612x612&w=0&k=20&c=1zYbGJsjBY-zdGlFr7HPuA0_KBSuAKGuYF8SkeEXm0U=");
  border: 0.2rem solid white;
  border-radius: 1rem;
  padding: 2rem;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-top: -3rem;
  height: 3rem;
  width: 29rem;
  border-radius: 0.5rem;
  background-color: rgb(67, 74, 74);
  border: 0.2rem solid #ff8c00;
  font-size: large;
}

.select {
  margin-top: -3rem;
  border-radius: 0.5rem;
  background-color: rgb(67, 74, 74);
  color: rgb(255, 255, 255);
  border: 0.2rem solid #ff8c00;
}

.error {
  color: red;
  font-weight: 600;
}

.texto-pais ul {
  display: inline;
  margin: 0;
  padding: 0;
}

.texto-pais ul:not(:last-child)::after {
  content: ", ";
}

.texto-pais ul:last-child::after {
  content: "";
}
