.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.cards {
  margin-left: -2.5rem;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

button:hover {
  background-color: #28a745;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.buttons {
  display: flex;
  justify-content: baseline;
}

.header {
  margin-top: -10rem;
}
