/* Reglas generales para todas las pantallas */
.search-box {
  margin: -4rem 0 2rem 0;
  display: flex;
  height: 6rem;
  width: 83.2rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ff8c00;
}

.h2 {
  color: #274a359b;
}
