.search-box {
  margin: 0rem 0 2rem 0;
  display: flex;
  height: 6rem;
  width: 100%;
  border-radius: 0.5rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ff8c00;
}

.h2 {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}

input[type="search"] {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
