.container {
  width: 100%;
  margin: 2.5rem 0 2rem 0;
  background-color: aqua;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

section {
  width: 80%;
  margin: 0 auto;
}

.h2 {
  text-align: center;
  font-weight: bolder;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 1rem;
}

.button {
  /* display: inline-block; */
  justify-content: center;
  background-color: #ffa500;
  width: 100%;
  text-decoration: none;
  font-size: xx-large;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  height: 5rem;
}

.button:hover {
  background-color: #ff8c00;
}

.link {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #274a359b; /* Verde Esmeralda para resaltar los enlaces */
  text-decoration: solid;
  font-weight: bolder;
  font-size: 900;
}
